
.addTask-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.task-inside {
    width: 500px;
    padding: 50px 0px;
}

.task-header {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.home-link {
    width: 30px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    position: absolute;
    left: 0px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
 


}

.taskname {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 25px;
}

.task-title {
    margin-bottom: 15px;
    text-align: left;
}

.name-label {
    width: 100%;
}

.name-input {
    text-align: left;
}

input[type="text"], input[type="date"], input[type="time"]{
    font-size: 16px;
    height: 60px;
    width: 100%;
    border-radius: 30px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    padding: 25px;

}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
}



.number-label {
    display: flex;
    
}

.number-container {
    display: flex;
    width: 470px;
    justify-content: space-between;
}


.t-number {
    height: 60px;
    margin-bottom: 35px;
}

.t-time {
    display: flex;
    width: 100%;
    justify-content: center
}

.date-time {
    padding-left: 15px;
}

.t-cont-little {
    width: 100%;
    padding-right: 50px;
}


.t-checklist {
    position: relative;
}

.add-button{
    position: absolute;
    top: 51px;
    right: 12px;
    border-radius: 100%;
    border: none;
    height: 44px;
    width: 44px; 
    background-color: rgb(13, 153, 255);
    cursor: pointer;
}

.ul-container {
    list-style-type: none;
    list-style-position: inside;
    width: 100%;
    padding-left: 0px;
   
}

.list-item {
    font-size: 16px;
    height: 60px;
    width: 100%;
    border-radius: 30px;
    text-align: left;
    box-sizing: border-box;
    padding: 25px;
    background-color: white;
    margin-bottom: 20px;
    position: relative;

}

.list-delete-button {
    position: absolute;
    top: 8px;
    right: 12px;
    border-radius: 100%;
    border: none;
    height: 44px;
    width: 44px; 
    background-color: rgba(245, 88, 88, 0.8);
    cursor: pointer;
}


.t-save-button {
    width: 500px;
    margin-top: 50px;

    
    
}

.savetask-button {
    border: none;
    color: white;
    background-color: rgb(13, 153, 255);
    height: 60px;
    border-radius: 30px;
    padding: 0px 50px 0px 50px;
    cursor: pointer;
    
}

