.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.home-inside {
    width: 500px;
    height: 100vh;
    border: 1px solid black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.search-icon {
    position: absolute;
    left: 0px;
    margin-left: 18px;
}

.search-label {
    width: 100%;
}

.search-input {
    height: 60px;
    width:91%;
    border-radius: 30px;
    border: 1px solid lightgray;
    padding-left: 40px; 
    font-size: 16px;   
}

.search-button {
    position: absolute;
    right: 0px;
    margin-right: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}



.filter-container {
    display: flex;
    justify-content: center;
    padding: 10px;
     width: 100%;
}

.filter-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    margin: 20px;
    border-radius: 30px;
    
}

.sort-filter {
    align-items: center;
    padding: 10px 40px;
    display: flex;;
    justify-content: center;
    margin: 20px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
    border: none;
}

.new-task-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-task-button {
    background-color: rgb(13, 153, 255);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 60px;
    margin: auto;
}