.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.progress {
    width: 85%;
    height: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}

.progress-div {
    background-color: rgb(255, 64, 52);
    height: 100%;
    width: 100%;
    border-radius: 10px;
}