.current-task-container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.container-task {
    width: 500px;
    min-height: 100vh;
}

.info-edit-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    right: 0px;
    background-color: rgba(13, 153, 255, 0.1);
    height: 40px;
    width: 40px;
    border-radius: 50%;

}

.subtask-header {
    text-align: left;
}

.subtask-container {
    padding-bottom: 20px;
}

.checklist-form {
    position: relative;
}

.add-button-addtask {
    position: absolute;
    top: 9px;
    right: 12px;
}

.task-done-button {
    position: absolute;
    top: 8px;
    right: 12px;
    border-radius: 100%;
    border: none;
    height: 44px;
    width: 44px;
    cursor: pointer;
    background-color: rgba(13, 153, 255, 0.1);
}

.task-done-button-checked {
    position: absolute;
    top: 8px;
    right: 12px;
    border-radius: 100%;
    border: none;
    height: 44px;
    width: 44px;
    cursor: pointer;
    background-color: rgb(13, 153, 255)

}


.task-buttons-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.task-button {
    border: none;
    border-radius: 30px;
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin-bottom: 20px;
}

.repeat {
    background-color: rgb(13, 153, 255);
    color: white;

}

.delete {
    background-color: rgb(255, 224, 222);
    color: black;
}

.repeat-task {
    margin: 20px;
}