.task-card {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
}

.card-checked {
    background-color: rgba(13, 153, 255, 0.1); 
}

.card-notchecked {
    background-color: white;
}

.task-name-container, .info-container {
    display: flex;
    justify-content:space-between;
    padding: 20px;
    
}

.task-name {
    font-weight: bold;
    margin-top: 10px;
}

.info-container {
    text-align: left;
    margin-left: 10px;
}

.card-text {
    display: flex;
    color: rgb(128, 128, 128);
    margin-bottom: 10px;
}

.values {
    color: black;
}

.time-value {
    color: rgb(255, 64, 52) !important;
    font-weight: bold;
}

.tag-container {
    display: flex;
    margin: 15px 10px 10px -5px; 
}

.edit-buttons {
    display: flex;
    z-index: 1000;
}

.edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 153, 255, 0.1);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer; 
    padding: 5px;
}

.tag-box {
    margin-right: 10px;
    background-color: rgba(255, 64, 52, 0.1);
    border-radius: 15px;
    padding: 3px 7px 3px 7px;
}




