* {
  font-family: sans-serif;
  box-sizing: border-box;
  

}

html, body, #root, #root>div {
  min-height: 100%
}


.App {
  text-align: center;
  background-color: rgb(245, 245, 245);
  min-height: fit-content;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.cursor {
  cursor: pointer;
}
