* {
  font-family: sans-serif;
  box-sizing: border-box;
  

}


.App {
  text-align: center;
  background-color: rgb(245, 245, 245);
  height: fit-content;
}

a {
  color: inherit;
  text-decoration: inherit;
}

